html, body {
    height: 100%;
    margin: 0px;
}

body {
    background-color: #242424;
    color: white;
    overflow-y: scroll;
}

header {
    background-color: #085555;
    width: 100%;
    top: 0;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    text-align: center;
    font-size: 1.8em;
    margin: 0px 15px;
}

.result {
    margin: 10px; auto;
    text-align: center;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    display: none;
    clear: both;
}

.upload-region {
    text-align: center;
    margin: 0 auto;
}

.hidden-upload {
    display: none;
}

.clear-btn {
    margin: 7px auto;
    font-size: 1.2em;
    cursor: pointer;
}

#inputImg {
    margin: 15px auto;
    text-align: center;
}

#uploadedImage {
    margin: 0 auto;
    padding: 2px;
    width: 80%;
    height: 300px;
    border: 3px dashed #98103d;
    border-radius: 6px;
    background-color: #e2dfdf;
    cursor: pointer;
}

#tagUploadPhoto {
    font-size: 34px;
    color: #0a6c6c;
    line-height: 300px;
}

#starImage {
    max-width: 100%;
    max-height: 100%;
}

footer {
    margin: auto 0px;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #085555;
    padding-top: 1px;
    padding-bottom: 1px;
}

footer p {
    font-size: 1.1em;
    color: white;
}

footer a {
    color: white !important;
}
